.img-carousel{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.img-carousel2{
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.font-titulo{
    font-family: 'Pacifico', cursive;
}
.fonte-vermelha{
    color: rgb(119, 26, 26) !important;
}
.botao-vermelho{
    background-color: rgb(119, 26, 26);
    border: unset;
    color: #fff;
}

.img-card{
    object-fit: cover;
    height: 200px;
}